﻿
@{
    ViewBag.Title = "BATTLEFIELD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">BATTLEFIELD 1</h2>
                    <div class="single-blog-post">
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Emin Sahin</li>
                            </ul>
                           
                        </div>
                        <a href="">
                            <img src="~/images/blog/bf2.jpg">

                        </a>
                        <p>
                            @WebApplication.Resources.HomeTexts.BattlefieldOnAciklama
                        </p>
                        
                        <br />
                        <p>
                            @WebApplication.Resources.HomeTexts.BattlefieldHakkinda
                        </p>
                        <br />
                        <a href="">
                            <img src="~/images/blog/bf3.jpg">
                        </a>
                        <br />
                        <p> Minimum </p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows® Vista/7/ 8/10 64-bit </p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Core i5 6600K / AMD FX-6350</p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: nVidia GeForce® GTX 660 2GB / AMD Radeon™ HD 7850 2GB</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 8GB RAM </p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 50GB </p>
                        <br />
                        <p>@WebApplication.Resources.HomeTexts.Recommended</p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows® Vista/7/ 8/10 64-bit </p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel Core i7 4790 / AMD FX 8350 Wraith</p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: NVIDIA GeForce® GTX 1060 3GB / AMD Radeon™ RX 480 4GB</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 16GB RAM</p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 50GB</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

