﻿
@{
    ViewBag.Title = "FAR CRY PRIMAL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">FAR CRY PRIMAL</h2>
                    <div class="single-blog-post">
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Emin Sahin</li>
                            </ul>
                            
                        </div>
                        <a href="">
                            <img src="~/images/blog/farcry1.jpg">
                            

                        </a>
                        <p>
                           @WebApplication.Resources.HomeTexts.FarcryOnAciklama
                        </p>
                        <br />
                        <p>
                           @WebApplication.Resources.HomeTexts.FarcryHakkinda
                        </p>
                        
                        <a href="">
                            <img src="~/images/blog/farcry2.jpg">

                        </a>
                       
                        <br />
                        <p> Minimum </p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows 7, Windows 8.1 ve Windows 10 64bit </p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel Core i3-550,AMD Phenom II X4 955 </p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: NVIDIA GeForce GTX 460 (1GB VRAM), AMD Radeon HD 5770 (1GB VRAM)</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 4GB RAM </p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 20GB </p>
                        <br />
                        <p>@WebApplication.Resources.HomeTexts.Recommended</p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows 7, Windows 8.1 ve Windows 10 64bit</p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel Core i7-2600K,AMD FX-8350</p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: NVIDIA GeForce GTX 780,AMD Radeon R9 280X</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 8GB RAM</p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 20GB</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
