﻿
@{
    ViewBag.Title = "FIFA 2018";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">FIFA 2018</h2>
                    <div class="single-blog-post">
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Burak Ketmen</li>
                            </ul>
                            
                        </div>
                        <a href="">
                            <img src="~/images/blog/fifa1.jpg">


                        </a>
                        <p>
                            @WebApplication.Resources.HomeTexts.FifaOnAciklama
                        </p>
                        <br />
                        <p>
                            @WebApplication.Resources.HomeTexts.FifaHakkinda
                        </p>

                        <a href="">
                            <img src="~/images/blog/fifa2.jpg">

                        </a>

                        <br />
                        <p> Minimum </p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows 10 – 64-Bit</p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel i3 6300T,Intel i3 4340 ve Intel i3 4350  /  AMD Athlon X4 870K, AMD FX-4350, FX-4330 </p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: NVidia GeForce GTX 660 – Radeon RX 460 / R9 270 / R7 370</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 8GB RAM </p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 50GB </p>
                        <p>DirectX: 12.0</p>
                        <br />
                        <p>@WebApplication.Resources.HomeTexts.Recommended</p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows 10 – 64-Bit</p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel i3 6300T, Intel i3 4340, Intel i3 4350  /  AMD Athlon X4 870K, AMD FX-4350, FX-4330 </p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: NVIDIA GeForce GTX 670 / AMD Radeon R9 270X</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 8GB RAM</p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 50GB</p>
                        <p>DirectX: 12.0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
