﻿
@{
    ViewBag.Title = "GTAV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">GRAND THEFT AUTO V</h2>
                    <div class="single-blog-post">
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Burak Ketmen</li>
                            </ul>
                            
                        </div>
                        <a href="">
                            <img src="~/images/blog/gta1.jpg">
                            <img src="~/images/blog/gta2.jpg">

                        </a>
                        <p>
                            @WebApplication.Resources.HomeTexts.GTAVOnAciklama
                        </p>
                        <br />
                        <p>
                            @WebApplication.Resources.HomeTexts.GTAVHakkinda
                        </p>
                        <br />
                        <h5>GTA V Online</h5>
                        <br />
                        <p>@WebApplication.Resources.HomeTexts.GTAVOnline</p>

                        <br />
                        <p> Minimum </p>

                        <p> @WebApplication.Resources.HomeTexts.Os: Windows 8.1 64 Bit, Windows 8 64 Bit, Windows 7 64 Bit Service Pack 1, Windows Vista 64 Bit Service Pack 2</p>
                        <p> @WebApplication.Resources.HomeTexts.Cpu: Intel Core 2 Quad CPU Q6600 2.40GHz (4 CPUs) / AMD Phenom 9850 Quad-Core Processor (4 CPUs)  2.5GHz</p>
                        <p> @WebApplication.Resources.HomeTexts.Gpu: Ekran Kartı: NVIDIA 9800 GT 1GB / AMD HD 4870 1GB (DX 10, 10.1, 11) </p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 4GB </p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 65GB </p>
                        <br />
                        <p>@WebApplication.Resources.HomeTexts.Recommended</p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows 8.1 64 Bit, Windows 8 64 Bit, Windows 7 64 Bit Service Pack 1</p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel Core i5 3470  3.2GHZ (4 CPUs) / AMD X8 FX-8350 4GHZ (8 CPUs)</p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: NVIDIA GTX 660 2GB / AMD HD7870 2GB</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 8GB</p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 65GB</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>