﻿
@{
    ViewBag.Title = "NEEDFORSPEED";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">Need For Speed</h2>
                    <div class="single-blog-post">
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Emin Sahin</li>
                            </ul>
                            
                        </div>
                        <a href="">
                            <img src="~/images/blog/nfs20152.jpg">


                        </a>
                        <p>
                            @WebApplication.Resources.HomeTexts.Nfs2015OnAciklama
                        </p>
                     
                        <p>
                            @WebApplication.Resources.HomeTexts.Nfs2015Hakkinda1
                        </p>

                        <p>
                            @WebApplication.Resources.HomeTexts.Nfs2015Hakkinda2
                        </p>
                        <a href="">
                            <img src="~/images/blog/nfs20151.jpg">

                        </a>

                        <br />
                        <p> Minimum </p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows 7 (64-bit)</p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel Core i3-4130</p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: NVIDIA GeForce GTX 750 Ti 2GB / AMD Radeon HD 7850 2GB</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 6GB RAM </p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 30GB </p>
                        <br />
                        <p>@WebApplication.Resources.HomeTexts.Recommended</p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows 7 (64-bit), Windows 8/8.1, Windows 10</p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel Core i5-4690</p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: NVIDIA GeForce GTX 970 4GB / AMD Radeon R9 290 4GB</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 8GB RAM</p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 30GB</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


