﻿
@{
    ViewBag.Title = "NFSMW2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">NEED FOR SPEED: MOST WANTED</h2>
                    <div class="single-blog-post">
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Burak Ketmen</li>
                            </ul>
                            
                        </div>
                        <a href="">
                            <img src="~/images/blog/nfsmw1.jpg">


                        </a>
                        <p>
                            @WebApplication.Resources.HomeTexts.Nfsmw2OnAciklama
                        </p>


                        <p>
                            @WebApplication.Resources.HomeTexts.Nfsmw2Hakkinda1
                        </p>


                        <p>
                            @WebApplication.Resources.HomeTexts.Nfsmw2Hakkinda2
                        </p>


                        <a href="">
                            <img src="~/images/blog/nfsmw2.jpg">

                        </a>

                        <br />
                        <p> Minimum </p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows Vista (SP2) 32-bit </p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel Core 2 Duo 2.4 GHz / AMD Athlon X2 2.7 GHz </p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: ATI RADEON HD 3870 / NVIDIA GEFORCE 8800 GT</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 2GB RAM </p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 20GB </p>
                        <p>DirectX 10.1</p>
                        <br />
                        <p>@WebApplication.Resources.HomeTexts.Recommended</p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows 7 64-bit)</p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel Core 2 Quad 2.66 GHz ya da AMD Phenom II X4 3.0 GHz</p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: DirectX uyumlu 1024 MB RAM. NVIDIA GEFORCE GTX 560 ya da ATI RADEON HD 6870/6950</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 4GB RAM</p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 20GB</p>
                        <p>DirectX 11</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


