﻿
@{
    ViewBag.Title = "OVERWATCH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">OVERWATCH</h2>
                    <div class="single-blog-post">
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Burak Ketmen</li>
                            </ul>
                           
                        </div>
                        <a href="">
                            <img src="~/images/blog/ow1.jpg" >
                            <img src="~/images/blog/ow2.jpg" >

                        </a>
                        <p>
                            @WebApplication.Resources.HomeTexts.OverwatchOnAciklama
                        </p>
                        <p>
                            @WebApplication.Resources.HomeTexts.OverwatchHakkinda
                        </p>
                        <br />
                        <br />
                        <p> Minimum </p>

                        <p> @WebApplication.Resources.HomeTexts.Os: Windows® Vista/7/ 8/10 64-bit </p>
                        <p> @WebApplication.Resources.HomeTexts.Cpu: Intel® Core™ i3 or AMD Phenom™ X3 865 </p>
                        <p> @WebApplication.Resources.HomeTexts.Gpu: NVIDIA® GeForce® GTX 460, ATI Radeon™ HD 4850, Intel® HD Graphics 4400 </p>
                        <p> @WebApplication.Resources.HomeTexts.Ram: 4 GB  </p>
                        <p> @WebApplication.Resources.HomeTexts.Hdd: 7200 RPM, 5 GB</p>
                        <br />
                        <p>@WebApplication.Resources.HomeTexts.Recommended</p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows® Vista/7/ 8/10 64-bit</p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel® Core™ i5 or AMD Phenom™ II X3, 2.8 GHz</p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: NVIDIA® GeForce® GTX 660,ATI Radeon™ HD 7950</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 6 GB</p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 7200 RPM, 5 GB</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>