﻿
@{
    ViewBag.Title = "WITCHER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title><title>@ViewBag.Title</title>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">THE WITCHER 3: WILD HUNT</h2>
                    <div class="single-blog-post">
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Emin Sahin</li>
                            </ul>
                        </div>
                        <a href="">
                            <img src="~/images/blog/witcher2.jpg">


                        </a>
                        <p>
                            @WebApplication.Resources.HomeTexts.WitcherOnAciklama
                        </p>
                        <br />
                        <h5>@WebApplication.Resources.HomeTexts.OyunHakkinda</h5>
                        <p>
                            @WebApplication.Resources.HomeTexts.WitcherHakkinda
                        </p>
                        <p>
                           
                        </p>
                        

                        <a href="">
                            <img src="~/images/blog/witcher1.jpg">

                        </a>

                        <br />
                        <p> Minimum </p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows 7, Windows 8.1, Windows 10 64 bit </p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel CPU Core i5-2500K 3.3GHz / AMD CPU Phenom II X4 940 </p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: Nvidia GPU GeForce GTX 660 / AMD GPU Radeon HD 7870</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 6GB RAM </p>
                        <p>DirectX 11</p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 40GB </p>
                        <br />
                        <p>@WebApplication.Resources.HomeTexts.Recommended</p>

                        <p>@WebApplication.Resources.HomeTexts.Os: Windows 7, Windows 8.1 Windows 10 64 bit</p>
                        <p>@WebApplication.Resources.HomeTexts.Cpu: Intel CPU Core i7 3770 3,4 GHz / AMD CPU AMD FX-8350 4 GHz</p>
                        <p>@WebApplication.Resources.HomeTexts.Gpu: Nvidia GPU GeForce GTX 770 / AMD GPU Radeon R9 290</p>
                        <p>@WebApplication.Resources.HomeTexts.Ram: 8GB RAM</p>
                        <p>DirectX 11</p>
                        <p>@WebApplication.Resources.HomeTexts.Hdd: 40GB</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

