﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>
    <!-- Bootstrap core CSS-->
    <link href="/Areas/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/Areas/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/Areas/Admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/Areas/Admin/css/sb-admin.css" rel="stylesheet">
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/Home/Index">@WebApplication.Resources.HomeTexts.Anasayfa</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title=@WebApplication.Resources.AdminTexts.Oyunlar>
                    <a class="nav-link" href="/Admin/Oyun/Index">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">@WebApplication.Resources.AdminTexts.Oyunlar</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title=@WebApplication.Resources.AdminTexts.Kullanicilar>
                    <a class="nav-link" href="/Admin/Kullanici/Index">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">@WebApplication.Resources.AdminTexts.Kullanicilar</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title=@WebApplication.Resources.AdminTexts.Siparisler>
                    <a class="nav-link" href="/Admin/Siparis/Index">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">@WebApplication.Resources.AdminTexts.Siparisler</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title=@WebApplication.Resources.AdminTexts.Mesajlar>
                    <a class="nav-link" href="/Admin/iletisim/Index">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">@WebApplication.Resources.AdminTexts.Mesajlar</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">KEBABLAND</li>
            </ol>
            </div>
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>@WebApplication.Resources.HomeTexts.TelifHakki KEBABLAND © 2017</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        @RenderBody()
        
        <!-- Bootstrap core JavaScript-->
        <script src="~/Areas/Admin/vendor/jquery/jquery.min.js"></script>
        <script src="~/Areas/Admin/vendor/popper/popper.min.js"></script>
        <script src="~/Areas/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Areas/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/Areas/Admin/vendor/chart.js/Chart.min.js"></script>
        <script src="~/Areas/Admin/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/Areas/Admin/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Areas/Admin/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/Areas/Admin/js/sb-admin-datatables.min.js"></script>
        <script src="~/Areas/Admin/js/sb-admin-charts.min.js"></script>
    </div>
</body>
</html>
