﻿@model WebApplication.Models.Siparis

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<title>@ViewBag.Title</title>

<h3>@WebApplication.Resources.AdminTexts.SilmeSecenek</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.SatinAlmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kullanıcı.KullanıcıAdı)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.OyunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oyun.OyunAd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@WebApplication.Resources.AdminTexts.Sil class="btn btn-default" /> |
            @Html.ActionLink(WebApplication.Resources.HomeTexts.ListeyeGeriDon, "Index")
        </div>
    }
</div>
