﻿@model WebApplication.Models.Siparis

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<title>@ViewBag.Title</title>
<h2>@WebApplication.Resources.AdminTexts.Detaylar</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.SatinAlmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kullanıcı.KullanıcıAdı)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.OyunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oyun.OyunAd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(WebApplication.Resources.AdminTexts.Duzenle, "Edit", new { id = Model.SiparisID }) |
    @Html.ActionLink(WebApplication.Resources.HomeTexts.ListeyeGeriDon, "Index")
</p>
