﻿@model IEnumerable<WebApplication.Models.Siparis>

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<title>@ViewBag.Title</title>
<h2>@WebApplication.Resources.AdminTexts.Siparisler</h2>

<p>
    @Html.ActionLink(WebApplication.Resources.AdminTexts.Olustur, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.SatinAlmaTarihi)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.OyunAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanıcı.KullanıcıAdı)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oyun.OyunAd)
        </td>
        <td>
            @Html.ActionLink(WebApplication.Resources.AdminTexts.Detaylar, "Details", new { id=item.SiparisID }) |
            @Html.ActionLink(WebApplication.Resources.AdminTexts.Sil, "Delete", new { id=item.SiparisID })
        </td>
    </tr>
}

</table>
