﻿@model WebApplication.Models.Kullanıcı

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<title>@ViewBag.Title</title>

<h3>@WebApplication.Resources.AdminTexts.SilmeSecenek</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullanıcıAdı)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.KayitTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KayıtTarih)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İsim)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.Soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@WebApplication.Resources.AdminTexts.Sil class="btn btn-default" /> |
            @Html.ActionLink(WebApplication.Resources.HomeTexts.ListeyeGeriDon, "Index")
        </div>
    }
</div>
