﻿@model IEnumerable<WebApplication.Models.Kullanıcı>

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<title>@ViewBag.Title</title>
<h2>@WebApplication.Resources.AdminTexts.Kullanicilar</h2>

<p>
    @Html.ActionLink(WebApplication.Resources.AdminTexts.Olustur, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.Sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.Telefon)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.Adres)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.KayitTarih)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.isim)
        </th>
        <th>
           @Html.DisplayName(WebApplication.Resources.HomeTexts.Soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KullanıcıAdı)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KayıtTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.İsim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin)
        </td>
        <td>
            @Html.ActionLink(WebApplication.Resources.AdminTexts.Duzenle, "Edit", new { id=item.ID }) |
            @Html.ActionLink(WebApplication.Resources.AdminTexts.Detaylar, "Details", new { id=item.ID }) |
            @Html.ActionLink(WebApplication.Resources.AdminTexts.Sil, "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
