﻿@using WebApplication.Models
@{
    var login = Session["KullaniciAdi"] as Kullanıcı;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/content/prettyPhoto.css" rel="stylesheet" />
    <link href="~/content/price-range.css" rel="stylesheet" />
    <link href="~/content/animate.css" rel="stylesheet" />
    <link href="~/content/main.css" rel="stylesheet" />
    <link href="~/content/responsive.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="~/images/icon/icon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>

    <header id="header">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li>@Html.ActionLink(WebApplication.Resources.HomeTexts.ingilizce, "Change", "Language", new { LanguageAbbrevation = "en" }, null)</li>
                                <li>@Html.ActionLink(WebApplication.Resources.HomeTexts.Turkce, "Change", "Language", new { LanguageAbbrevation = "tr" }, null)</li>          
                            </ul>
                        </div>
                    </div>   
                </div>
            </div>
        </div>

        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                
                                <li><a href="/Home/Sepet"><i class="fa fa-shopping-cart"></i> @WebApplication.Resources.HomeTexts.Sepet</a></li>
                                
                               @if (Session["KullaniciAdi"] == null)
                               {
                                <li><a href="/Kullanici/Olustur"><i class="fa fa-male"></i> @WebApplication.Resources.HomeTexts.KayitOl</a></li>
                                <li><a href="/Kullanici/Giris"> @WebApplication.Resources.HomeTexts.GirisYap</a></li>
                               }
                               else
                               {
                                    
                                   if (login.Admin==true)
                                   {
                                    <li><a href="/Admin/Home/Index"> @WebApplication.Resources.HomeTexts.AdminPaneli (@login.KullanıcıAdı) </a></li>
                                   }
                                   else
                                   {
                                    <li>@Html.ActionLink(WebApplication.Resources.HomeTexts.Hesabim, "Hesabim","Kullanici", new { id = login.ID }, new {style = "color : orange" })</li>
                                   }
                                    <li><a href="/Kullanici/Cikis"><i class="fa fa-remove"></i>@WebApplication.Resources.HomeTexts.CikisYap</a></li>


                               }


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="/Home/Index" class="active">@WebApplication.Resources.HomeTexts.Anasayfa</a></li>
                                <li><a href="/Home/Blog" class="active">@WebApplication.Resources.HomeTexts.OyunBlog</a></li>
                                <li><a href="/Home/BizKimiz">@WebApplication.Resources.HomeTexts.BizKimiz</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    @RenderBody()
    <hr />
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="companyinfo">
                            <h2>KEBABLAND</h2>
                            <p>@WebApplication.Resources.HomeTexts.OyunlariniziBizdenAlin</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="address">
                            <img src="/images/home/map.png" alt="" />
                            <p>Sakarya/ @WebApplication.Resources.HomeTexts.Turkiye</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">@WebApplication.Resources.HomeTexts.TelifHakki © 2017 KEBABLAND </p>
                </div>
            </div>
        </div>

    </footer>
    <script src="~/Scripts/jquery.js"></script >
    <script src="~/Scripts/bootstrap.min.js"></script >
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/price-range.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>
