﻿@using WebApplication.Models
@{
    var login = Session["KullanıcıAdı"] as Kullanıcı;
}
@{
    ViewBag.Title = "Hesabım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    @if (Session["KullanıcıAdı"] != null)
                    {
                        <h4>@login.KullanıcıAdı</h4>
                    }
                        
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">

                                <h4 class="panel-title">@Html.ActionLink("Bilgileri Duzenle", "BilgiDuzenle", new { id = login.ID })</h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/home/siparislerim">Siparişlerim</a></h4>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Sepetim</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <h2 class="title text-center">HESABIM</h2>
                    <h4> Bu sayfada siparişlerinizi görebilir; üyelik bilgisi güncelleme, şifre ve adres değişikliği gibi hesap ayarlarınızı kolayca yapabilirsiniz.</h4>
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="/images/kullanıcı/anonim.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            
                            @if (Session["KullanıcıAdı"] != null)
                            {
                                <h2>Hoşgeldin, @Html.DisplayFor(model => login.KullanıcıAdı)</h2>
                                <p><b>İsim:</b> @Html.DisplayFor(model => login.İsim)</p>
                                <p><b>Soyisim:</b>@Html.DisplayFor(model => login.Soyad)</p>
                                <p><b>Email:</b> @Html.DisplayFor(model => login.Email)</p>
                                <p><b>Telefon:</b> @Html.DisplayFor(model => login.Telefon)</p>
                                <p><b>Adres:</b> @Html.DisplayFor(model => login.Adres)</p>
                                <p><b>Kayıt Tarihi:</b> @Html.DisplayFor(model => login.KayıtTarih)</p>

                            }
                        </div>
                    </div>
                </div>

               

            </div>
        </div>
    </div>
</section>
<footer><!--Footer-->
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="companyinfo">
                    <h2><span>KEBABLAND</span>-OYUN SATIS</h2>
                    <p>Oyunlarınızı bizden alın.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="address">
                    <img src="/images/home/map.png" alt="" />
                    <p>Türkiye/Sakarya</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <p class="pull-left">Copyright © 2017 KEBABLAND </p>
        </div>
    </div>
</div>

</footer><!--/Footer-->

