﻿
@{
    ViewBag.Title = WebApplication.Resources.HomeTexts.BizKimiz;

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<title>@ViewBag.Title</title>
<div id="contact-page" class="container">
    <div class="bg">
        <div class="col-sm-12">
            <div class="blog-post-area">
                <h2 class="title text-center">@WebApplication.Resources.HomeTexts.BizKimiz</h2>
                <div class="single-blog-post">
                   <a href="">
                        <img src="~/images/blog/biz.png" alt="">
                    </a>
                </div>
            </div>
        </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="contact-form">
                            <h2 class="title text-center">@WebApplication.Resources.HomeTexts.MesajBirak</h2>
                            <div class="status alert alert-success" style="display: none"></div>
                            <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                                <div class="form-group col-md-6">
                                    <input type="text" name="iletisimisim" class="form-control" required="required" placeholder="@WebApplication.Resources.HomeTexts.isim">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" name="iletisimemail" class="form-control" required="required" placeholder="Email">
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="text" name="iletisimkonu" class="form-control" required="required" placeholder="@WebApplication.Resources.HomeTexts.Konu">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea name="iletisimmesaj" id="message" required="required" class="form-control" rows="8" placeholder="@WebApplication.Resources.HomeTexts.Mesaj"></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="submit" name="submit" class="btn btn-primary pull-right" value="@WebApplication.Resources.HomeTexts.Gonder">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact-info">
                            <h2 class="title text-center">@WebApplication.Resources.HomeTexts.iletisimbilgileri</h2>
                            <address>
                                <p>KEBABLAND OYUN SATIS</p>
                                <p>Bilisim Sistemleri Mühendisligi</p>
                                <p>Sakarya Universitesi</p>
                                <p>Tel No: 05432488351</p>
                                <p>Email: eminsahin@gmail.com</p>
                            </address>
                       </div>
                    </div>
                </div>
            </div>
        </div>

