﻿@model WebApplication.Models.Oyun
@{
    ViewBag.Title = "Blog";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<title>@ViewBag.Title</title>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">@WebApplication.Resources.HomeTexts.TanitilanOyunlar</h2>
                    <div class="single-blog-post">
                        <h4 class="title text-center"><a href="/Tanitim/FARCRY">FAR CRY: PRIMAL</a></h4>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Emin Sahin</li>
                            </ul>
                            
                        </div>
                        <a href="">
                            <img src="~/images/blog/farcry.jpg" alt="/Tanitim/FARCRY">
                        </a>
                        <p>
                            @WebApplication.Resources.HomeTexts.FarcryOnAciklama
                        </p>
                        <a class="btn btn-primary" href="/Tanitim/FARCRY">@WebApplication.Resources.HomeTexts.DevaminiOku</a>
                    </div>
                    <div class="single-blog-post">
                        <h4 class="title text-center"><a href="/Tanitim/FIFA">FIFA 18</a></h4>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Burak Ketmen</li>
                            </ul>
                            
                        </div>
                        <a href="">
                            <img src="~/images/blog/FIFA.jpg" alt="/Tanitim/FIFA">
                        </a>
                        <p>
                           @WebApplication.Resources.HomeTexts.FifaOnAciklama
                        </p>

                        <a class="btn btn-primary" href="/Tanitim/FIFA">@WebApplication.Resources.HomeTexts.DevaminiOku</a>
                    </div>

                    <div class="single-blog-post">
                        <h4 class="title text-center"><a href="/Tanitim/WITCHER">THE WITCHER 3</a></h4>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Emin Sahin</li>
                            </ul>
                            
                        </div>
                        <a href="">
                            <img src="/images/blog/witcher.jpg" alt="/Tanitim/WITCHER">
                        </a>
                        <p>
                           @WebApplication.Resources.HomeTexts.WitcherOnAciklama
                        </p>
                        <a class="btn btn-primary" href="/Tanitim/WITCHER">@WebApplication.Resources.HomeTexts.DevaminiOku</a>
                    </div>
                    <div class="pagination-area">
                        <ul class="pagination">
                            <li><a href="/home/blog">1</a></li>
                            <li><a href="/home/blog2" class="active">2</a></li>
                            <li><a href="/home/blog3">3</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

