﻿@model WebApplication.Models.Oyun
@{
    ViewBag.Title = "Blog";
   
        Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<title>@ViewBag.Title</title>
<section>
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">@WebApplication.Resources.HomeTexts.TanitilanOyunlar</h2>
                    <div class="single-blog-post">
                        <h4 class="title text-center"><a href="/Tanitim/OVERWATCH">OVERWATCH</a></h4>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Burak Ketmen</li>
                            </ul>
                        </div>
                        <a href="">
                            <img src="~/images/blog/blogow.png" alt="/Tanitim/OVERWATCH">
                        </a>
                        <p>@WebApplication.Resources.HomeTexts.OverwatchOnAciklama</p>
                        <a class="btn btn-primary" href="/Tanitim/OVERWATCH">@WebApplication.Resources.HomeTexts.DevaminiOku</a>
                    </div>

                    <div class="single-blog-post">
                        <h4 class="title text-center"><a href="/Tanitim/BATTLEFIELD">BATTLEFIELD 1</a></h4>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Emin Sahin</li>
                            </ul>
                        </div>
                        <a href="">
                            <img src="~/images/blog/bf1.jpg" alt="/Tanitim/BATTLEFIELD">
                        </a>
                        <p>@WebApplication.Resources.HomeTexts.BattlefieldOnAciklama</p>
                        
                        <a class="btn btn-primary" href="/Tanitim/BATTLEFIELD">@WebApplication.Resources.HomeTexts.DevaminiOku</a>
                    </div>
                    
                    <div class="single-blog-post">
                        <h4 class="title text-center"><a href="/Tanitim/GTAV">GRAND THEFT AUTO V</a></h4>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Burak Ketmen</li>
                            </ul>
                           
                        </div>
                        <a href="">
                            <img src="/images/blog/gta.jpg" alt="/Tanitim/GTAV">
                        </a>
                        <p>@WebApplication.Resources.HomeTexts.GTAVOnAciklama</p>
                        <a class="btn btn-primary" href="/Tanitim/GTAV">@WebApplication.Resources.HomeTexts.DevaminiOku</a>
                    </div>
                    <div class="pagination-area">
                        <ul class="pagination">
                            <li><a href="/home/blog" class="active">1</a></li>
                            <li><a href="/home/blog2">2</a></li>
                            <li><a href="/home/blog3">3</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
