﻿@model WebApplication.Models.Oyun
@{
    ViewBag.Title = "Blog";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<title>@ViewBag.Title</title>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">@WebApplication.Resources.HomeTexts.TanitilanOyunlar</h2>
                    <div class="single-blog-post">
                        <h4 class="title text-center"><a href="/Tanitim/NFSMW">NEED FOR SPEED: Most Wanted 2</a></h4>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Burak Ketmen</li>
                            </ul>
                            
                        </div>
                        <a href="">
                            <img src="~/images/blog/nfs.jpg" alt="/Tanitim/NFSMW">
                        </a>
                        <p>
                           @WebApplication.Resources.HomeTexts.Nfsmw2OnAciklama
                        </p>
                        <a class="btn btn-primary" href="/Tanitim/NFSMW">@WebApplication.Resources.HomeTexts.DevaminiOku</a>
                    </div>

                    <div class="single-blog-post">
                        <h4 class="title text-center"><a href="/Tanitim/NEEDFORSPEED">NEED FOR SPEED: 2015</a></h4>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> Emin Sahin</li>
                            </ul>
                            
                        </div>
                        <a href="">
                            <img src="~/images/blog/nfs2015.jpg" alt="/Tanitim/NEEDFORSPEED">
                        </a>
                        <p>
                            @WebApplication.Resources.HomeTexts.Nfs2015OnAciklama
                        </p>
                        <a class="btn btn-primary" href="/Tanitim/NEEDFORSPEED">@WebApplication.Resources.HomeTexts.DevaminiOku</a>
                    </div>
                    
                    <div class="pagination-area">
                        <ul class="pagination">
                            <li><a href="/home/blog">1</a></li>
                            <li><a href="/home/blog2">2</a></li>
                            <li><a href="/home/blog3" class="active" >3</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

