﻿@model WebApplication.Models.Sepet
@using WebApplication.Models
@{
    var login = Session["KullaniciAdi"] as Kullanıcı;
}

@{
    ViewBag.Title = WebApplication.Resources.HomeTexts.Anasayfa;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<title>@ViewBag.Title</title>

<section id="slider">
 <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1>OVERWATCH</h1>
                                <h2>@WebApplication.Resources.HomeTexts.Overwatchslider</h2>
                                <p>@WebApplication.Resources.HomeTexts.OverwatchSliderBilgi </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="/images/home/ow1.png" class=" img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1>GRAND THEFT AUTO V</h1>
                                <h2>+20000000$ cash</h2>
                                <p>@WebApplication.Resources.HomeTexts.GTAVSliderBilgi </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/gta.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1>BATTLEFIELD 1</h1>
                                <h2>@WebApplication.Resources.HomeTexts.BFSlider</h2>
                                <p>@WebApplication.Resources.HomeTexts.BFSliderBilgi </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/bf.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>@WebApplication.Resources.HomeTexts.TanitilanOyunlar</h2>
                    <div class="panel-group category-products" id="accordian">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/Tanitim/BATTLEFIELD">BattleField 1</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/Tanitim/OVERWATCH">Overwatch</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/Tanitim/GTAV">Grand Theft Auto V</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/Tanitim/FARCRY">Far Cry:Primal</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/Tanitim/FIFA">FIFA 18</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/Tanitim/WITCHER">The Witcher 3</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/Tanitim/NFSMW">Need For Speed: Most Wanted</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/Tanitim/NEEDFORSPEED">Need For Speed(2015)</a></h4>
                            </div>
                        </div>
                    </div>

                    <div class="shipping text-center">
                        <img src="~/images/home/gamelogo.png" alt="" />
                    </div>

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">@WebApplication.Resources.HomeTexts.Oyunlar</h2>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/images/icon/overwatch.png" alt="" />
                                    <h2>120 @WebApplication.Resources.HomeTexts.Para</h2>
                                    <p>OVERWATCH</p>
                                    @*<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Satın Al</a>*@
                                    @if (Session["KullaniciAdi"] != null)
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID= 1, KisiID = login.ID }, new {})</a>
                                    }
                                    else
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new {}, new { })</a>
                                    }

                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>120 @WebApplication.Resources.HomeTexts.Para</h2>
                                        <p>OVERWATCH</p>
                                        @if (Session["KullaniciAdi"] != null)
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 1, KisiID = login.ID }, new {})</a>
                                        }
                                        else
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/images/icon/bf1.jpg" alt="" />
                                    <h2>65 @WebApplication.Resources.HomeTexts.Para</h2>
                                    <p>BATTLEFIELD 1</p>
                                    @if (Session["KullaniciAdi"] != null)
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 3, KisiID = login.ID }, new { })</a>
                                    }
                                    else
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                    }
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>65 @WebApplication.Resources.HomeTexts.Para</h2>
                                        <p>BATTLEFIELD 1</p>
                                        @if (Session["KullaniciAdi"] != null)
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 3, KisiID = login.ID }, new { })</a>
                                        }
                                        else
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                        }
                                    </div>
                                </div>
                            </div>                          
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/images/icon/fifa.png" alt="" />
                                    <h2>140 @WebApplication.Resources.HomeTexts.Para</h2>
                                    <p>FIFA 18</p>
                                    @if (Session["KullaniciAdi"] != null)
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 2, KisiID = login.ID }, new { })</a>
                                    }
                                    else
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                    }
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>140 @WebApplication.Resources.HomeTexts.Para</h2>
                                        <p>FIFA 18</p>
                                        @if (Session["KullaniciAdi"] != null)
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 2, KisiID = login.ID }, new { })</a>
                                        }
                                        else
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                        }
                                    </div>
                                </div>
                            </div>                          
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/images/icon/witcher.png" alt="" />
                                    <h2>45 @WebApplication.Resources.HomeTexts.Para</h2>
                                    <p>WITCHER 3</p>
                                    @if (Session["KullaniciAdi"] != null)
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 6, KisiID = login.ID }, new { })</a>
                                    }
                                    else
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                    }
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>45 @WebApplication.Resources.HomeTexts.Para</h2>
                                        <p>WITCHER 3</p>
                                        @if (Session["KullaniciAdi"] != null)
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 6, KisiID = login.ID }, new { })</a>
                                        }
                                        else
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                        }
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/images/icon/farcry.jpg" alt="" />
                                    <h2>22 @WebApplication.Resources.HomeTexts.Para</h2>
                                    <p>FAR CRY:PRIMAL</p>
                                    @if (Session["KullaniciAdi"] != null)
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 7, KisiID = login.ID }, new { })</a>
                                    }
                                    else
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                    }
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>22 @WebApplication.Resources.HomeTexts.Para</h2>
                                        <p>FAR CRY:PRIMAL</p>
                                        @if (Session["KullaniciAdi"] != null)
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 7, KisiID = login.ID }, new { })</a>
                                        }
                                        else
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                        }
                                    </div>
                                </div>
                            </div>                          
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/images/icon/gta5.jpg" alt="" />
                                    <h2>85 @WebApplication.Resources.HomeTexts.Para</h2>
                                    <p>GRAND THEFT AUTO V</p>
                                    @if (Session["KullaniciAdi"] != null)
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 5, KisiID = login.ID }, new { })</a>
                                    }
                                    else
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                    }
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>85 @WebApplication.Resources.HomeTexts.Para</h2>
                                        <p>GRAND THEFT AUTO V</p>
                                        @if (Session["KullaniciAdi"] != null)
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 5, KisiID = login.ID }, new { })</a>
                                        }
                                        else
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                        }
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/images/icon/nfs.png" alt="" />
                                    <h2>40 @WebApplication.Resources.HomeTexts.Para</h2>
                                    <p>NEED FOR SPEED</p>
                                    @if (Session["KullaniciAdi"] != null)
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 4, KisiID = login.ID }, new { })</a>
                                    }
                                    else
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                    }
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>40 @WebApplication.Resources.HomeTexts.Para</h2>
                                        <p>NEED FOR SPEED:MOST WANTED</p>
                                        @if (Session["KullaniciAdi"] != null)
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 4, KisiID = login.ID }, new { })</a>
                                        }
                                        else
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/images/icon/nfs2015.jpg" alt="" />
                                    <h2>55 @WebApplication.Resources.HomeTexts.Para</h2>
                                    <p>NEED FOR SPEED:2015</p>
                                    @if (Session["KullaniciAdi"] != null)
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 8, KisiID = login.ID }, new { })</a>
                                    }
                                    else
                                    {
                                        <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                    }
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>55 @WebApplication.Resources.HomeTexts.Para</h2>
                                        <p>NEED FOR SPEED:2015</p>
                                        @if (Session["KullaniciAdi"] != null)
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "SepeteEkle", "Sepet", new { OyunID = 8, KisiID = login.ID }, new { })</a>
                                        }
                                        else
                                        {
                                            <a class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.SepeteEkle, "Giris", "Kullanici", new { }, new { })</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
            </div>
        </div>
    </div>
</div>
</section>