﻿@model IEnumerable<WebApplication.Models.Sepet>   
@using WebApplication.Models
@{
    var login = Session["KullaniciAdi"] as Kullanıcı;
}
@{
    ViewBag.Title = WebApplication.Resources.HomeTexts.Sepet;

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<title>@ViewBag.Title</title>
@if (Session["KullaniciAdi"] != null)
{
    <section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="active">@WebApplication.Resources.HomeTexts.Sepet</li>
            </ol>
            <h5>@WebApplication.Resources.HomeTexts.Hosgeldin, @login.KullanıcıAdı</h5>
            <h5>@WebApplication.Resources.HomeTexts.KeyifliAlisverislerDileriz</h5>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">@WebApplication.Resources.HomeTexts.Ürün</td>
                        <td class="description"> </td>
                        <td class="price">@WebApplication.Resources.HomeTexts.Vergi</td>
                        <td class="description"> </td>
                        <td class="total">@WebApplication.Resources.HomeTexts.Fiyat</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                @{ 
                    int toplamtutar = 0;
                    int fiyattoplam = 0;
                    int kdvtoplam = 0;
                    List<int> SepetID = new List<int>();
                }
                @foreach (var item in Model)
                {
                    if (item.Kullanıcı.KullanıcıAdı == login.KullanıcıAdı)
                    {
                    <tbody>
                        <tr>
                            <td class="cart_description">
                                <h4>@item.Oyun.OyunAd</h4>
                            </td>
                            <td></td>
                            <td class="cart_total">
                                @{
                                    SepetID.Add(item.SepetID);
                                    int toplam = Convert.ToInt32(item.Oyun.OyunFiyat) + Convert.ToInt32(item.Oyun.OyunKDV);
                                    toplamtutar = toplamtutar + toplam;
                                    fiyattoplam = fiyattoplam + Convert.ToInt32(item.Oyun.OyunFiyat);
                                    kdvtoplam = kdvtoplam + Convert.ToInt32(item.Oyun.OyunKDV);
                                }
                                <p class="cart_total_price"> @item.Oyun.OyunKDV @WebApplication.Resources.HomeTexts.Para </p>
                            </td>
                            <td></td>
                            <td class="cart_total">
                                <p class="cart_total_price" >@item.Oyun.OyunFiyat @WebApplication.Resources.HomeTexts.Para</p>
                            </td>
                            <td></td>
                            <td>
                                @Html.ActionLink(WebApplication.Resources.HomeTexts.Sil, "Delete", "Sepet", new { id = item.SepetID }, new { @class = "btn btn-default check_out" })
                                @Html.ActionLink(WebApplication.Resources.HomeTexts.SatinAl, "SiparisYolla", "Sepet", new {SepetID = item.SepetID, id = item.KisiID }, new { @class = "btn btn-default check_out" })                            
                            </td>
                        </tr>
                    </tbody>
                    }
                 }

            </table>
        </div>
    </div>
    </section> <!--/#cart_items-->
    <section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>@WebApplication.Resources.HomeTexts.SepetHakkindaBilgi</h3>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>@WebApplication.Resources.HomeTexts.Fiyat <span>@fiyattoplam @WebApplication.Resources.HomeTexts.Para</span></li>
                        <li>@WebApplication.Resources.HomeTexts.Vergi <span>@kdvtoplam @WebApplication.Resources.HomeTexts.Para</span></li>
                        <li>@WebApplication.Resources.HomeTexts.Sevgi <span>@WebApplication.Resources.HomeTexts.Bedava</span></li>
                        <li>@WebApplication.Resources.HomeTexts.ToplamFiyat <span>@toplamtutar @WebApplication.Resources.HomeTexts.Para </span></li>
                    </ul>

                </div>
            </div>

            <div class="col-sm-5 clearfix">
                <div class="bill-to">
                    <p>@WebApplication.Resources.HomeTexts.OdemeBilgisi</p>
                    <div class="form-two">
                        <form>
                            <select>
                                <option>Turkiye</option>
                            </select>
                            <select>
                                <option>Sonradan Ödeme</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    </section><!--/#do_action-->

}
else
{
    <div class="container text-center">
        <div class="content-404">
            <h1><b>@WebApplication.Resources.HomeTexts.Uzgunuz</b> @WebApplication.Resources.HomeTexts.SepeteErismek</h1>
            <img src="~/images/home/sorry.jpg" class="img-responsive" alt="" />
            <br />
            <br />
            <h2><a href="/Kullanici/Giris"><b>@WebApplication.Resources.HomeTexts.BeniGiriseIsinla</b></a></h2>
            
        </div>
    </div>

}