﻿@model IEnumerable<WebApplication.Models.Siparis>
@using WebApplication.Models
@{
    var login = Session["KullanıcıAdı"] as Kullanıcı;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">

                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">@Html.ActionLink("Bilgileri Duzenle", "BilgiDuzenle", new { id = login.ID })</h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/Home/Siparislerim">Siparişlerim</a></h4>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Sepetim</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <h2 class="title text-center">SATIN ALDIKLARIM</h2>

                    <div class="col-sm-12">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayName("Oyun Adı")
                                </th>
                                <th>
                                    @Html.DisplayName("Oyun Fiyati")
                                </th>
                                <th>
                                    @Html.DisplayName("Oyun Kodu")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tarih)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                if (item.Kullanıcı.KullanıcıAdı == login.KullanıcıAdı)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Oyun.OyunAd)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Oyun.OyunFiyat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Oyun.OyunKod)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tarih)
                                        </td>
                                    </tr>
                                }

                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="companyinfo">
                        <h2><span>KEBABLAND</span>-OYUN SATIS</h2>
                        <p>Oyunlarınızı bizden alın.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="address">
                        <img src="/images/home/map.png" alt="" />
                        <p>Türkiye/Sakarya</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2017 KEBABLAND </p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->
