﻿@model WebApplication.Models.iletisim

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<title>@ViewBag.Title</title>

<h3>@WebApplication.Resources.AdminTexts.SilmeSecenek</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           @Html.DisplayName(WebApplication.Resources.AdminTexts.Isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iletisimisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iletisimemail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iletisimemail)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.Konu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iletisimkonu)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.Mesaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iletisimmesaj)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@WebApplication.Resources.AdminTexts.Sil class="btn btn-default" /> |
            @Html.ActionLink(WebApplication.Resources.HomeTexts.ListeyeGeriDon, "Index")
        </div>
    }
</div>
