﻿@model WebApplication.Models.iletisim

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<title>@ViewBag.Title</title>
<h2>@WebApplication.Resources.AdminTexts.Detaylar</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.Isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iletisimisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iletisimemail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iletisimemail)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.Konu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iletisimkonu)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.Mesaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iletisimmesaj)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(WebApplication.Resources.AdminTexts.Duzenle, "Edit", new { id = Model.iletisimID }) |
    @Html.ActionLink(WebApplication.Resources.HomeTexts.ListeyeGeriDon, "Index")
</p>
