﻿@model IEnumerable<WebApplication.Models.iletisim>
@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<title>@ViewBag.Title</title>
<h2>@WebApplication.Resources.AdminTexts.Mesaj</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.Isim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iletisimemail)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.Konu)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.Mesaj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.iletisimisim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iletisimemail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iletisimkonu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iletisimmesaj)
        </td>
        <td>
            @Html.ActionLink(WebApplication.Resources.AdminTexts.Duzenle, "Edit", new { id=item.iletisimID }) |
            @Html.ActionLink(WebApplication.Resources.AdminTexts.Detaylar, "Details", new { id=item.iletisimID }) |
            @Html.ActionLink(WebApplication.Resources.AdminTexts.Sil, "Delete", new { id=item.iletisimID })
        </td>
    </tr>
}

</table>
