﻿@model WebApplication.Models.Kullanıcı
@{
    ViewBag.Title = WebApplication.Resources.HomeTexts.GirisYap;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

   <div class="col-sm-12">
        <h2 class="title text-center">@WebApplication.Resources.HomeTexts.GirisYap</h2>
        <hr />
   </div>
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true,"", new { @class = "text-danger" })
            <div class="form-group">
               @Html.Label(WebApplication.Resources.HomeTexts.KullaniciAdi, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-sm-2 col-sm-offset-0">
                    @Html.EditorFor(model => model.KullanıcıAdı, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KullanıcıAdı, "", new { @class = "text-danger" })
                </div>
            </div>
                <div class="form-group">
                    @Html.Label(WebApplication.Resources.HomeTexts.Sifre, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-sm-2 col-sm-offset-0">
                        @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-7 col-sm-offset-5">
                        <input type="submit" value="@WebApplication.Resources.HomeTexts.GirisYap" class="btn btn-default" />
                        
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
               
            </div>

}
