﻿@using WebApplication.Models
@{
    var login = Session["KullaniciAdi"] as Kullanıcı;
}
@{
    ViewBag.Title = WebApplication.Resources.HomeTexts.Hesabim;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    @if (Session["KullaniciAdi"] != null)
                    {
                    <div class="panel-group category-products" id="accordian">
                        <div class="panel panel-default">
                            <div class="panel-heading">

                                <h4 class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.Hesabim, "Hesabim", "Kullanici", new { id = login.ID }, new { })</h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">

                                <h4 class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.BilgileriDuzenle, "BilgiDuzenle","Kullanici", new { id = login.ID }, new {})</h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.Siparislerim, "Siparislerim", new { id = login.ID }, new { })</h4>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/Home/Sepet">@WebApplication.Resources.HomeTexts.Sepet</a></h4>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <h2 class="title text-center">@WebApplication.Resources.HomeTexts.Hesabim</h2>
                    <h4> @WebApplication.Resources.HomeTexts.HesabimBilgi</h4>
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="/images/Kullanıcı/anonim.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">

                            @if (Session["KullaniciAdi"] != null)
                            {
                                <p><b>@WebApplication.Resources.HomeTexts.KullaniciAdi :</b> @Html.DisplayFor(model => login.KullanıcıAdı)</p>
                                <p><b>@WebApplication.Resources.HomeTexts.isim :</b> @Html.DisplayFor(model => login.İsim)</p>
                                <p><b>@WebApplication.Resources.HomeTexts.Soyad :</b>@Html.DisplayFor(model => login.Soyad)</p>
                                <p><b>Email:</b> @Html.DisplayFor(model => login.Email)</p>
                                <p><b>@WebApplication.Resources.HomeTexts.Telefon :</b> @Html.DisplayFor(model => login.Telefon)</p>
                                <p><b>@WebApplication.Resources.HomeTexts.Adres :</b> @Html.DisplayFor(model => login.Adres)</p>
                                <p><b>@WebApplication.Resources.HomeTexts.KayitTarih :</b> @Html.DisplayFor(model => login.KayıtTarih)</p>

                            }
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>
