﻿@model WebApplication.Models.Kullanıcı

@{
    ViewBag.Title = WebApplication.Resources.HomeTexts.KayitOl;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>
    <div class="col-sm-12">
        <h2 class="title text-center">@WebApplication.Resources.HomeTexts.KayitOl</h2>
    </div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label(WebApplication.Resources.HomeTexts.KullaniciAdi, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-sm-2 col-sm-offset-0">
                @Html.EditorFor(model => model.KullanıcıAdı, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KullanıcıAdı, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication.Resources.HomeTexts.Sifre, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-sm-2 col-sm-offset-0">
                @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication.Resources.HomeTexts.isim, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-sm-2 col-sm-offset-0">
                @Html.EditorFor(model => model.İsim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.İsim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication.Resources.HomeTexts.Soyad, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-sm-2 col-sm-offset-0">
                @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-sm-2 col-sm-offset-0">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication.Resources.HomeTexts.Telefon, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-sm-2 col-sm-offset-0">
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication.Resources.HomeTexts.Adres, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-sm-2 col-sm-offset-0">
                @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 col-sm-offset-5">
                <input type="submit" value="@WebApplication.Resources.HomeTexts.KayitOl" class="btn btn-default" />
            </div>
            
        </div>
        @if (ViewBag.Basarili != null)
        {
            <div align="center"><p>@ViewBag.Basarili</p> </div>
        }
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

}