﻿@model IEnumerable<WebApplication.Models.Siparis>
@using WebApplication.Models
@{
    var login = Session["KullaniciAdi"] as Kullanıcı;
}

@{
    ViewBag.Title = WebApplication.Resources.HomeTexts.Siparislerim;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">

                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">

                                <h4 class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.Hesabim, "Hesabim", "Kullanici", new { id = login.ID }, new { })</h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.BilgileriDuzenle, "BilgiDuzenle", new { id = login.ID }, new { })</h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">@Html.ActionLink(WebApplication.Resources.HomeTexts.Siparislerim, "Siparislerim", new { id = login.ID }, new { })</h4>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/Home/Sepet">@WebApplication.Resources.HomeTexts.Sepet</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <h2 class="title text-center">@WebApplication.Resources.HomeTexts.Siparislerim</h2>
                    <div class="col-sm-12">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayName(WebApplication.Resources.HomeTexts.Oyun)
                                </th>
                                <th>
                                    @Html.DisplayName(WebApplication.Resources.HomeTexts.OyunFiyati)
                                </th>
                                <th>
                                    @Html.DisplayName(WebApplication.Resources.HomeTexts.OyunKodu)
                                </th>
                                <th>
                                    @Html.DisplayName(WebApplication.Resources.HomeTexts.Tarih)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                if (item.Kullanıcı.KullanıcıAdı == login.KullanıcıAdı)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Oyun.OyunAd)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Oyun.OyunFiyat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SiparisKodu)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tarih)
                                        </td>
                                    </tr>
                                }

                            }

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</section>
