﻿@model WebApplication.Models.Oyun

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<title>@ViewBag.Title</title>
<h2>@WebApplication.Resources.AdminTexts.Detaylar</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.OyunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OyunAd)
        </dd>

        <dt>
           @Html.DisplayName(WebApplication.Resources.AdminTexts.Ucret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OyunFiyat)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.SatinAlmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OyunSatınAlmaTarih)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.Tanitim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OyunTanıtım)
        </dd>

        <dt>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.Vergi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OyunKDV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(WebApplication.Resources.AdminTexts.Duzenle, "Edit", new { id = Model.OyunID }) |
    @Html.ActionLink(WebApplication.Resources.HomeTexts.ListeyeGeriDon, "Index")
</p>
