﻿@model WebApplication.Models.Oyun

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<title>@ViewBag.Title</title>
<h2>@WebApplication.Resources.AdminTexts.Duzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OyunID)

        <div class="form-group">
            @Html.Label(WebApplication.Resources.AdminTexts.OyunAdi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OyunAd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OyunAd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication.Resources.AdminTexts.Ucret, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OyunFiyat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OyunFiyat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication.Resources.AdminTexts.SatinAlmaTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OyunSatınAlmaTarih, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OyunSatınAlmaTarih, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           @Html.Label(WebApplication.Resources.AdminTexts.Tanitim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OyunTanıtım, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OyunTanıtım, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication.Resources.HomeTexts.Vergi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OyunKDV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OyunKDV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@WebApplication.Resources.HomeTexts.Kaydet class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(WebApplication.Resources.HomeTexts.ListeyeGeriDon, "Index")
</div>
