﻿@model IEnumerable<WebApplication.Models.Oyun>

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<title>@ViewBag.Title</title>
<h2>@WebApplication.Resources.HomeTexts.Oyunlar</h2>

<p>
    @Html.ActionLink(WebApplication.Resources.AdminTexts.Olustur, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.OyunAdi)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.Ucret)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.SatinAlmaTarihi)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.AdminTexts.Tanitim)
        </th>
        <th>
            @Html.DisplayName(WebApplication.Resources.HomeTexts.Vergi)
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OyunAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OyunFiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OyunSatınAlmaTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OyunTanıtım)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OyunKDV)
        </td>
        <td>
            @Html.ActionLink(WebApplication.Resources.AdminTexts.Duzenle, "Edit", new { id=item.OyunID }) |
            @Html.ActionLink(WebApplication.Resources.AdminTexts.Detaylar, "Details", new { id=item.OyunID }) |
            @Html.ActionLink(WebApplication.Resources.AdminTexts.Sil, "Delete", new { id=item.OyunID })
        </td>
    </tr>
}

</table>
