﻿
@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<title>@ViewBag.Title</title>
<h2>@WebApplication.Resources.HomeTexts.HosgeldinAdminPanel</h2>
<h5>@WebApplication.Resources.HomeTexts.IndexAdminPanel</h5>

